#root {
  width: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8a75bf;
  text-decoration: none;
  border-bottom: 2px dotted #ffd6e8;
}

a:hover { opacity: 0.9; }

/* Resets demo styles */
.logo, .card, .read-the-docs { display: none !important; }
